# Perkenalan

Nama : Nailina Farah

Batch : FTDS_RMT_28

Dataset : credit-card-information (FROM 'ftds-hacktiv8-project.phase1_ftds_028_rmt.credit-card-information')

# Model Inference

In [1]:
# Import Libaries
import pickle
import json
import pandas as pd

# Load Model
> Load model yang telah dibuat pada notebook berbeda

In [2]:
# Load all models dari perhitungan sebelumnya

with open('model.pkl', 'rb') as  file_1: 
  model = pickle.load(file_1)

with open('scaler.pkl', 'rb') as file_2:
  scaler = pickle.load(file_2)

with open('pca.pkl', 'rb') as file_3:
  pca = pickle.load(file_3)

with open('num_col.txt', 'r') as file_4:
  num_col = json.load(file_4)

with open('cat_col.txt', 'r') as file_5:
  cat_col = json.load(file_5)

with open('num_cols_nonmulti.txt', 'r') as file_6:
  num_cols_nonmulti = json.load(file_6)

# Create Data Inference
> Membuat data baru untuk mencoba model yang telah dibuat

Menginput value dari kolom-kolom pada data_inf

In [3]:
# create new data
data_inf = {
    'BALANCE': [703.368382, 981.643409, 6.420394],
    'BALANCE_FREQUENCY': [1.0, 0.818182, 0.363636],
    'PURCHASES': [64.0, 0.0, 136.72],
    'ONEOFF_PURCHASES': [0.0, 0.0, 0.0],
    'INSTALLMENTS_PURCHASES': [64.0, 0.0, 136.72],
    'CASH_ADVANCE': [0.0, 1462.32354, 0.0],
    'PURCHASES_FREQUENCY': [0.5, 0.0, 0.333333],
    'ONEOFF_PURCHASES_FREQUENCY': [0.0, 0.0, 0.0],
    'PURCHASES_INSTALLMENTS_FREQUENCY': [0.416667, 0.0, 0.333333],
    'CASH_ADVANCE_FREQUENCY': [0.0, 0.083333, 0.0],
    'CASH_ADVANCE_TRX': [0, 2, 0],
    'PURCHASES_TRX': [6, 0, 4],
    'CREDIT_LIMIT': [2550.0, 1500.0, 2500.0],
    'PAYMENTS': [179.083715, 2008.971745, 361.012758],
    'MINIMUM_PAYMENTS': [212.119486, 277.582819, 169.705471],
    'PRC_FULL_PAYMENT': [0.0, 0.125, 0.8],
    'TENURE': [12, 12, 12]
}

data_inf = pd.DataFrame(data_inf)
data_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,703.368382,1.000000,64.00,0.0,64.00,0.00000,0.500000,0.0,0.416667,0.000000,0,6,2550.0,179.083715,212.119486,0.000,12
1,981.643409,0.818182,0.00,0.0,0.00,1462.32354,0.000000,0.0,0.000000,0.083333,2,0,1500.0,2008.971745,277.582819,0.125,12
2,6.420394,0.363636,136.72,0.0,136.72,0.00000,0.333333,0.0,0.333333,0.000000,0,4,2500.0,361.012758,169.705471,0.800,12

# Split numerik dan kategorik

In [4]:
# Split between numerical and categorical columns
data_inf_num = data_inf[num_col]
data_inf_cat = data_inf[cat_col]
data_inf_num_nonmulti = data_inf[num_cols_nonmulti]

In [5]:
data_inf_cat

   TENURE
0      12
1      12
2      12

In [6]:
data_inf_num

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,PRC_FULL_PAYMENT,CASH_ADVANCE_TRX,PURCHASES_TRX
0,703.368382,1.000000,64.00,0.0,64.00,0.00000,0.500000,0.0,0.416667,0.000000,2550.0,179.083715,212.119486,0.000,0.000,0,6
1,981.643409,0.818182,0.00,0.0,0.00,1462.32354,0.000000,0.0,0.000000,0.083333,1500.0,2008.971745,277.582819,0.125,0.125,2,0
2,6.420394,0.363636,136.72,0.0,136.72,0.00000,0.333333,0.0,0.333333,0.000000,2500.0,361.012758,169.705471,0.800,0.800,0,4

In [7]:
data_inf_num_nonmulti

,BALANCE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,ONEOFF_PURCHASES_FREQUENCY,CASH_ADVANCE_FREQUENCY,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,CASH_ADVANCE_TRX,PURCHASES_TRX
0,703.368382,64.00,0.0,64.00,0.00000,0.0,0.000000,2550.0,179.083715,212.119486,0.000,0,6
1,981.643409,0.00,0.0,0.00,1462.32354,0.0,0.083333,1500.0,2008.971745,277.582819,0.125,2,0
2,6.420394,136.72,0.0,136.72,0.00000,0.0,0.000000,2500.0,361.012758,169.705471,0.800,0,4

Terdapat 3 kategori data, data_inf_num_nonmulti adalah data numerik yang telah difilter berdasarkan nilai VIF < 5 sehingga tidak termasuk multikolinearitas yang selanjutnya akan discaling dan PCA

# Scaling

In [8]:
# Feature scaling
data_inf_num_scaled = scaler.transform(data_inf_num_nonmulti)

# PCA

In [9]:
# transform untuk data yang telah discaling
df_scaled_pca = pca.transform(data_inf_num_scaled)

# Predict & Insert

In [10]:
# Predict new data inference using Linear Regression
pred = model.fit_predict(df_scaled_pca)
pred

c:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

array([2, 0, 1])

In [11]:
# insert hasil cluster pada data_inf
data_inf['cluster'] = pred
data_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,cluster
0,703.368382,1.000000,64.00,0.0,64.00,0.00000,0.500000,0.0,0.416667,0.000000,0,6,2550.0,179.083715,212.119486,0.000,12,2
1,981.643409,0.818182,0.00,0.0,0.00,1462.32354,0.000000,0.0,0.000000,0.083333,2,0,1500.0,2008.971745,277.582819,0.125,12,0
2,6.420394,0.363636,136.72,0.0,136.72,0.00000,0.333333,0.0,0.333333,0.000000,0,4,2500.0,361.012758,169.705471,0.800,12,1

# Melihat Karakteristik Tiap Cluster

In [12]:
# Membuat DataFrame dengan mean per cluster
cluster_means = data_inf.groupby('cluster').mean().round(2)[['BALANCE', 'PURCHASES', 'CASH_ADVANCE', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'CREDIT_LIMIT', 'TENURE']]

# Menambahkan header untuk setiap kolom
cluster_means.columns = ['Balance', 'Purchases', 'Cash Advance', 'Payments', 'Minimum Payments', 'Credit Limit', 'Tenure']

# Menampilkan DataFrame sebagai tabel
print(cluster_means)

         Balance  Purchases  Cash Advance  Payments  Minimum Payments  \
cluster
0         981.64       0.00       1462.32   2008.97            277.58
1           6.42     136.72          0.00    361.01            169.71
2         703.37      64.00          0.00    179.08            212.12

         Credit Limit  Tenure
cluster
0              1500.0    12.0
1              2500.0    12.0
2              2550.0    12.0

# Kesimpulan

Dari hasil tersebut, terdapat beberapa kemiripan yaitu:
- Purchases paling rendah di cluster 0
- Cash Advance paling tinggi di cluster 0

Namun untuk feature lainnya kurang sama dengan data asli sehingga perlu diimprove lebih lanjut.